.App{
    background-color: cadetblue;
}
ul {
    background-color: cadetblue;
}

li {
    border:black;
}

.card-body {
    background-color: ghostwhite;
}

.card-header {
    background-color: red;
    border-bottom-color:ghostwhite;
}

.card.border-info {
    border-bottom-color: black;
}

.btn {
    font-family: 'Courier New', Courier, monospace;
    font: ghostwhite;
}



