.genres {
    /* background: #369; */
    text-align: center;
}

.genres ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.genres li {
    display: inline-block;
    padding: 20px 50px
}

.genres li a {
    color: white;
}

.createNew {
    margin-top: 20px;
    width: 100%;
}
.posts {
	margin-top: 10px;
}
.posts li {
	text-align: left;
}
.card-header {
    background: ghostwhite;
	color: 000;
    font-weight: 600;
    padding: -10%;
}

#funnytron {
        background-image: url("../images/funny.jpg");
        background-size: cover;
        background-position: 0% 25%;
        text-shadow: black 0.1em 0.1em 0.1em;
}

#horrortron {
    background-image: url("../images/horror.jpg");
    background-size: cover;
    background-position: 0% 25%;
    text-shadow: black 0.1em 0.1em 0.1em;
}

#romancetron {
    background-image: url("../images/romance.jpg");
    background-size: cover;
    background-position: 0% 50%;
    text-shadow: black 0.1em 0.1em 0.1em;
}

#mysterytron {
    background-image: url("../images/mystery.jpg");
    background-size: cover;
    background-position: 0% 25%;
    text-shadow: black 0.1em 0.1em 0.1em;
}

#dramatron {
    background-image: url("../images/drama.jpg");
    background-size: cover;
    background-position: 0% 25%;
    text-shadow: black 0.1em 0.1em 0.1em;
}

#fantasytron {
    background-image: url("../images/fantasy.jpg");
    background-size: cover;
    background-position: 0% 50%;
    text-shadow: black 0.1em 0.1em 0.1em;
}

.lead {
    color: white;
}
